body {
  background-color: #D4E2D4;
}

hr {
  background-color: #EEEEEE;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 250px;
}

h1 {
  color: #F8485E;
  font-family: luciandaconsole;

}

h3 {
  color: #D63447;
  font-family: cursive;
}
